<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="http://apps.bdimg.com/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="./md5.js"></script>
    <title>Document</title>
    <style>
        .area_raw{
            font-size: 18px;
            margin-right: 8px;
            width: 40%;
        }
        .area_ret{
            font-size: 18px;
            width: 40%;
        }
        .container {
            /* 使用 Flexbox 布局 */
            display: flex;
            justify-content: center;
        }

        .container div {
            /* 如果需要添加间距，可以使用 margin 或者 flex 属性 */
            margin-right: 10px;
            /* 或者使用 flex 属性来调整空间分配 */
            flex: 1;
        }
        body{
            background-color: #f2f2f2;
        }
        @keyframes flash {
            0% { background-color: white; }
            50% { background-color: yellow; }
            100% { background-color: white; }
        }

    </style>
</head>
<body>
    <div id="app">
        <div class="container">
            <h2>中英互译</h2>
        </div>
        <div class="container">
            <button @click="func_EnToCh" style="margin-right: 100px;font-size: 18px;border-radius: 8px;">翻译</button>
            <button @click="func_ChToEn" style="font-size: 18px;border-radius: 8px;">翻译</button>
        </div>
        <div class="container">
            <textarea v-model="content_english" placeholder="英文区域" autofocus="true" @keyup.enter="func_EnToCh" rows="15" class="area_raw" :style="{animation:animating_left ? 'flash 0.5s infinite':'none', backgroundColor:bgColor}"></textarea>
            <br>
            <textarea v-model="content_chinese" placeholder="中文区域" @keyup.enter="func_ChToEn" rows="15" class="area_ret":style="{animation:animating_right ? 'flash 0.5s infinite':'none', backgroundColor:bgColor}"></textarea>
            <br>
        </div>
        <div class="container" style="margin-top: 5px;">
            <button @click="func_copyEnglish" style="margin-right: 100px;font-size: 18px;border-radius: 8px;">复制英文</button>
            <button @click="func_copyChinese" style="font-size: 18px;border-radius: 8px;">复制中文</button>
        </div>

    </div>

    <script>
        var app = new Vue({
            el:'#app',
            data:{
                content_english:"",
                content_chinese:"",
                translate_ret:"",
                appid:'20231220001916715',
                key:'N9ZQWbmw2z0txacNk7vh',
                salt:'1435660288',
                from:'en',
                to:'zh',
                bgColor:'white',
                animating_left: false,
                animating_right: false,
            },
            methods:{
                func_get(){
                    fetch("http://api.fanyi.baidu.com/api/trans/vip/translate?q=apple&from=en&to=zh&appid=2015063000000001&salt=1435660288&sign=f89f9594663708c1605f3d736d01d2d4")
                    .then(response =>{
                        if(!response.ok){
                            throw new Error('error');
                        }
                        return response.text();
                    })
                    .then(data=>{
                        console.log(data);
                        this.msg1 = data;
                    })
                    .catch(error => {
                        console.error('Fetch error:', error);
                    });
                },
                func_post(){
                    console.log('post....');
                    var formData = new FormData();
                    formData.append('postmsg', this.msg2_send);
                    fetch("http://182.92.208.248/strp",{
                        method:"POST",
                        body:formData,
                    })
                    .then(response =>{
                        if(!response.ok){
                            throw new Error('asdllkzlzklkz');
                        }
                        return response.text();
                    })
                    .then(data=>{
                        console.log(data);
                        this.msg2 = data;
                    })
                    .catch(error => {
                        console.error('Fetch error:', error);
                    });
                },
                func_EnToCh(){
                    var temp_msg = this.content_english.replace(/(\r\n|\n|\r)/gm, ", ");
                    var str1 = this.appid+temp_msg+this.salt+this.key;
                    var sign = MD5(str1);
                    $.ajax({
                        url: 'http://api.fanyi.baidu.com/api/trans/vip/translate',
                        type: 'get',
                        dataType: 'jsonp',
                        data: {
                            q: temp_msg,
                            appid: this.appid,
                            salt: this.salt,
                            from: this.from,
                            to: this.to,
                            sign: sign
                        },
                        success:  (data) => {
                            /*这里使用箭头函数是因为要保持上下文信息，否则VUE的this将无法作用*/
                            var temp = data.trans_result[0].dst;
                            this.content_chinese = temp;
                            this.startAnimation(1);
                        } 
                    });
                },
                func_ChToEn(){
                    var temp_msg = this.content_chinese.replace(/(\r\n|\n|\r)/gm, ", ");
                    var str1 = this.appid+temp_msg+this.salt+this.key;
                    var sign = MD5(str1);
                    $.ajax({
                        url: 'http://api.fanyi.baidu.com/api/trans/vip/translate',
                        type: 'get',
                        dataType: 'jsonp',
                        data: {
                            q: temp_msg,
                            appid: this.appid,
                            salt: this.salt,
                            from: this.to,
                            to: this.from,
                            sign: sign
                        },
                        success:  (data) => {
                            /*这里使用箭头函数是因为要保持上下文信息，否则VUE的this将无法作用*/
                            var temp = data.trans_result[0].dst;
                            this.content_english = temp;
                            this.startAnimation(0);
                        } 
                    });
                },
                func_copyEnglish(){
                    var temparea = document.createElement('textarea');
                    temparea.value = this.content_english;
                    document.body.appendChild(temparea);
                    temparea.select();
                    document.execCommand('copy');
                    document.body.removeChild(temparea);
                    console.log('已复制');
                },
                func_copyChinese(){
                    var temparea = document.createElement('textarea');
                    temparea.value = this.content_chinese;
                    document.body.appendChild(temparea);
                    temparea.select();
                    document.execCommand('copy');
                    document.body.removeChild(temparea);
                    console.log('已复制');
                },
                startAnimation(slt){
                    if(slt==0){
                        //左边闪烁
                        this.animating_left = true;
                        setTimeout(() => {
                            this.animating_left = false;
                            this.bgColor = 'white';
                        }, 1500);
                    }
                    else{
                        //右边闪烁
                        this.animating_right = true;
                        setTimeout(() => {
                            this.animating_right = false;
                            this.bgColor = 'white';
                        }, 1500);
                    }
                },
            }
        })
    </script>
</body>
</html>